.row-bv{
    margin-top: 0 !important;
}

.basket-overload-bv{
    overflow: auto;
    max-height: 800px;
    gap: 8px;
}

.basket-overload-bv::-webkit-scrollbar{
    width: 1em;
}

.basket-overload-bv::-webkit-scrollbar-thumb{
    background-color: rgb(219, 219, 219);
    outline: 1px solid rgb(155, 155, 155);
    border-radius: 6px;
}

.basket-button-bv{
    background-color: #4630ab;
    border-color: #1a032c;
    padding: 2rem 2.5rem;
    display: flex;             /* nested flex container */
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: center;   /* center flex items vertically */
    align-items: center;       /* center flex items horizontally */
}


.header-bv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.actions-md-bv{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.basket-total-bv{
    display: inline-block;
    display: flex;             /* nested flex container */
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: center;   /* center flex items vertically */
    align-items: center;       /* center flex items horizontally */
    border-color: rgba(242, 160, 174, 0.5);
    box-shadow: rgba(242, 160, 174, 0.2) 0px 7px 29px 0px;
}

.purchase-actions-bv{
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}

.label-bv{
    color: black;
    font-weight: 600;
    transform: translate(0, 10px);
}

.input-basket{
    margin-top: 10px;
    border-color: rgba(242, 160, 174, 0.5);
    box-shadow: rgba(242, 160, 174, 0.2) 0px 7px 29px 0px;
}

.inputs-actions-bv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    gap: 14px;
}

.container-inputs-bv, .purchase-actions-inner-bv{
    width: 100%;
}

.total-make-bv{
    display: flex;
    gap: 8px;
    align-items: stretch;
    height: 50%;
    justify-content: end;
}

.products-bv{
    height: 600px;
    padding: 14px;
}

@media only screen and (max-width: 766px) {
    .total-make-bv{
        height: 100%;
    }

    .inputs-actions-bv{
        flex-direction: column;
    }

    .total-make-bv{
        justify-content: center;
    }

    .products-bv{
        height: 300px;
    }

    .space-bv{
        height: 50px;
    }
}