.container-bk svg{
    color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.container-bk{
    position: relative;
}

.alert-bk{
    position: absolute;
    top: -17px;
    right: -20px;
    color: black;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 6px;
    border-style: solid;
    border-color: #F2A0AE;
}

.alert-products-view-bk{
    right: 50px;
}

.alert-follow-view-bk{
    right: 1px;
}