html, body, #root{
    height: 100%;
    position: relative;
}

.products-for-margin-top{
    margin-top: 10px;
}

.total-per-category-text{
    color: white;
}

.follow-overload{
    overflow-y: auto;
    overflow-x: hidden;
    height: 35vh;
    margin-top: -45px;
}

#lena-root{
    background-image: linear-gradient(#ffffff,#F5F5F5);
    height: auto;
    min-height: 100vh;
}

.base-button-color{
    background-color: #4630ab;
    border-color: #1a032c;
}

.no-link{
    text-decoration:  none;
    color: white;
    border-radius: 5px;
}

.extra-height{
    height: 100px;
}