.category-pv{
    font-weight: 900;
}

.columns-container-pv{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 36px;
    padding: 0 14px;
    margin-top: 14px;
}

.columns-container-pv.column-1-pv{
    display: flex;
    flex-direction: column;
}

.text-warning-pv{
    color: #F75973;
    font-weight: bold;
}

.space-pv{
    height: 50px;
}

.products-pv{
    height: 300px;
}

.products-full-pv{
    height: 850px;
}